
/* Add this CSS to make the navbar sticky */
.sticky-navbar {
    position: -webkit-sticky;
    /* For Safari */
    position: sticky;
    top: 0;
    z-index: 1020;
    /* Ensure it appears above other elements */
    background-color: #ffffff;
    /* Adjust based on your design */
    box-shadow: 0 4px 2px -2px gray;
    /* Optional: Add a shadow for better visibility */
}

/* Add styles for the navbar when it has the 'scrolled' class */
.sticky-navbar.scrolled {
    background-color: #f8f9fa;
    /* Change to your desired background color */
    box-shadow: 0 4px 2px -2px gray;
    /* Add shadow for better visibility */


    .social-icons {
        background-color: #005b57;
        padding: 10px;
        display: flex;
        justify-content: center;
    }

    .social-icons a {
        color: white;
        font-size: 24px;
        margin: 0 15px;
        text-align: center;
        border: 2px solid white;
        border-radius: 50%;
        padding: 10px;
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .social-icons .linka:hover {
        color: #00fff2;
        background-color: red;
    }
}
